@{
    ViewBag.Title = "Voyages en avion";
}

<h2>Voyages en avion</h2>

<p>
    @Html.ActionLink("Ajouter un intéréraire aérien", "Create")
</p>

<p>
    @Html.ActionLink("Résumé des données saisies", "ResumeDatas")
</p>